.mySwiper{
  width: 200px;
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-items: start;
  margin-top:20px;
  margin-bottom: 20px;
}

.swiper-button-prev {
  background-image: url('../../public/arrow-right.svg') !important;
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center;
  }
  
  .swiper-button-next {
  background-image: url('../../public/arrow-right.svg') !important;
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center;
  }
  
  .swiper-button-next::after {
  display: none;
  }
  
  .swiper-button-prev::after {
  display: none;
  }